<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">{% csrf_token %}
        <h1>Modyfikuj salę konferencyjną: {{room.name}}</h1>
        <p>Obecnie: pojemność wynosi {{room.num_seats}}. Dostępność rzutnika {{room.has_beamer}}</p>
        <label>Nazwa:
        <input name="name">
        </label>
        <label>Liczba miejsc:
            <input min="0" name="num_seats">
        </label>
        <label>Rzutnik:
            <input name="has_beamer">
        </label>

        <input type="submit" value="Modyfikuj salę"><br><br><br>
        <a href="/rooms/">Powrót do listy sal konferencyjnych</a>

    </form>
</body>
</html>